body{
    font-family: 'Poppins', sans-serif;
    

}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orangered;
}
.half-width{
    width: 20%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 100px;
}
.half-width img{
    width: 125%;
}
.top-banner{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    
}
section{
    height: 500px;
    padding-bottom: 400px;
    margin: 
    
}
.button{
    text-decoration: none;
    background-color:orangered;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
}
h2{
    font-size: 40px;
    padding-top: 100px;
}
p{
    color: dimgray; 
}
.biography{
   background-image: url("images/biography-bg.png");
   background-repeat: no-repeat;

}
#center{
    text-align: center;
}
#message{
  
  padding: 10px 5px;
 
  background-color: violet;
  width: 500px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  
}

}

}
.align{
    margin: auto;
    
}
.latest{
    color: orangered;
}
.symbol{
    color: white;
    font-size: large;
}
.work{
    background-image: url(images/work.png);
    background-size: 75% 40%;
    background-repeat: no-repeat;
    margin:auto;
    width: 700px;
    padding: 20px 10px;
   
    border-radius: 10px;
    
    
    
}
#workFont{
    font-size: large;
    color: white;
}
#headertext{
text-align: right;
}
footer{
    text-align: center;
    font-size: 20px;
}